#fondo
{
  background-color: rgb(159,146,248);
  width: 100%;
  }


.btn {
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
  background-color: rgb(159,146,248);
   font-family: Comic Sans MS;
}



.red {
  color: #000;
  
  background-color: rgb(159,146,248);

}

.red:hover {
  color: #fff;
  background-color: #51A228;
}



.buttons {
  padding-top: 30px;
  text-align: center;
}

#div_fonogame_text{

  text-align: center;
  --bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
    font-family: Comic Sans MS;
    font-size: 20px;
  width: 100%;
  height: 120px;
  
  
  margin-bottom: 10px;
  margin-top: 0px;
  padding-bottom: 0px;
  position: relative;

}

#div_principal{
  width: 100%;
  height: 800px;
  margin-top: 120px;
  
  text-align: center;
  display: inline-block;

}


.div_campo{

  text-align: center;
  --bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
    font-family: Comic Sans MS;
    font-size: 20px;
  width: 40%;
  height: 6%;
  float: center;
  
  margin: 3%;
  

}