#myProgress {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
}

#myBar {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #4CAF50;
}

#label {
  text-align: center;
  line-height: 30px;
  color: white;
}
/*CODIGO PARA TODAS LAS PAGINAS*/

#fondo
{
	background-color: rgb(159,146,248);
	
}

.btn {
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
}


.blue {
  color: #55acee;
  border: 2px #55acee solid;
}

.blue:hover {
  background-color: #55acee;
  color: #fff
}

.green {
  color: #2ecc71;
  border: 2px #2ecc71 solid;
}

.green:hover {
  color: #fff;
  background-color: #2ecc71;
}

.red {
  color: #e74c3c;
  border: 2px #e74c3c solid;
}

.red:hover {
  color: #fff;
  background-color: #e74c3c;
}

.purple {
  color: #9b59b6;
  border: 2px #9b59b6 solid;
}

.purple:hover {
  color: #fff;
  background-color: #9b59b6;
}

.orange {
  color: #e67e22;
  border: 2px #e67e22 solid;
}

.orange:hover {
  color: #fff;
  background-color: #e67e22;
}

.yellow {
  color: #f1c40f;
  border: 2px #f1c40f solid;
}

.yellow:hover {
  color: #fff;
  background-color: #f1c40f;
}

.buttons {
  padding-top: 30px;
  text-align: center;
}

/*CODIGO PARA INDEX*/

#divTopIz{
	text-align: center;
	--bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
    font-family: Comic Sans MS;
    font-size: 20px;
	width: 50%;
	height: 200px;
	float: left;
	margin-bottom: 0px;
	margin-top: 10px;
}



#divRegistrar{

	margin-bottom: 10px;
	margin-top: 10px;
	width: 25%;
	height: 200px;
	float: left;
}

#divLogin{

	margin-bottom: 10px;
	margin-top: 10px;
	width: 25%;
	height: 200px;
	float: right;
}

#divImagen{

	text-align: center;
	width: 50%;
	height: 300px;
	float: left;
	
}

#textoPresentacion{
	float: left;
  padding: 5%;
	width: 35%;
  text-align: justify;
}

/* CODIGO PARA GAME_PAGE*/
#div_general{
	width: 100%;
	height: 800px;
	margin-top: 120px;

}
#div_fonogame_text{

	text-align: center;
	--bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
    font-family: Comic Sans MS;
    font-size: 20px;
	width: 100%;
	height: 120px;
	
	
	margin-bottom: 10px;
	margin-top: 0px;
	padding-bottom: 0px;
	position: fixed;

}

#div_lateral_izquierdo{
	margin: 1%;
	
	width: 24%;
	min-width: 140px;
	float: left;
}

#div_centro{
	
	margin-top: 1%;
	height: 50%;
	width: 45%;
	min-width: 300px;
	min-height: 300px;
	float: left;
	padding: 1%;
	
	
}

#div_lateral_derecho{
	margin: 1%;
	height: 80%;
	width: 24%;
	
	text-align: center;
	float: left;

}
.silabas{
	height: 100%;
	width: 30%;
	margin: 1%;
	float: left;
}
.silabas:hover{
	background-color: grey;
}
.contenedor{
	text-align: center;
	height: 50%;
	width: 100%;
	padding: 2%;
}
.estilo_imagen{
	height:50%;
	width:30%;
	display: :inline-block;
	position:relative;
	

}
.hyphenation {
     word-break: break-all;
     /* Non standard for webkit */
     word-break: break-word; */
  
-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}


/* CODIGO PARA BOTON CURADO*/


:root {
    --bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.wrapper {
    padding: 1.5rem 0;
    filter: url('#goo');
    font-family: Comic Sans MS;
}

.button {

    font-family: Comic Sans MS;
    float: right;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: absolute;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.10rem;
}

.button:before,
.button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--color);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.button:before {
    top: -25%;
    left: 20%;
}

.button:after {
    bottom: -25%;
    right: 20%;
}

.button:hover:before,
.button:hover:after {
    transform: none;
}


/* Demo styles */

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: Comic Sans MS;
   
}


